* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header {
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  background-color: #c1e9e9;
  margin: 0 auto;
  height: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--button_menu {
  width: 18px;
  height: 12px;
  margin: 0 36px 0 20px;
  border: none;
  background: url("./assets/images/Shape_menu.svg") no-repeat;
  cursor: pointer;
}

.header--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto 0 0;
}

.header--button_option {
  width: 4px;
  height: 16px;
  margin: 0 20px 0 5px;
  border: none;
  background: url("./assets/images/Shape_option.svg") no-repeat;
  cursor: pointer;
}

.main {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 50px auto 0 auto;
  grid-row-gap: 50px;
  -ms-grid-columns: 240px 512px 240px;
      grid-template-columns: 240px 512px 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main_div {
  -webkit-box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.251);
          box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.251);
}

.tools_wrapper {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 200px;
  height: 246px;
  margin-left: 15px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.tools_wrapper .menu_tools {
  list-style: none;
}

.tools_wrapper .menu_tools--item {
  height: 54px;
  padding-left: 54px;
  cursor: pointer;
  background-position: 16px 16px;
  line-height: 54px;
}

.tools_wrapper .menu_tools--item:hover {
  background-color: #e3ecf0;
}

.btn_fill_bucket {
  background: url("./assets/images/icon-fill_bucket.svg") no-repeat;
}

.btn_choose_color {
  background: url("./assets/images/icon-choose_color.svg") no-repeat;
}

.btn_pencil {
  background: url("./assets/images/icon-pencil.svg") no-repeat;
}

.btn_clear {
  background: url("./assets/images/clear-icon.svg") no-repeat;
}

.clickBtn {
  background-color: #e3ecf0;
  color: blue;
  font-size: 23px;
  border-radius: 10px;
}

.canvas_wrapper {
  width: 512px;
  height: 512px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.size_wrapper {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 200px;
  height: 246px;
  margin-left: 15px;
}

.size_wrapper .menu_size {
  list-style: none;
}

.size_wrapper .menu_size--item {
  height: 54px;
  padding-left: 54px;
  cursor: pointer;
  background-position: 16px 16px;
  line-height: 54px;
}

.size_wrapper .menu_size--item:hover {
  background-color: #e3ecf0;
}

.color_wrapper {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 200px;
  height: 246px;
  margin-left: 15px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.color_wrapper .menu_color {
  list-style: none;
}

.color_wrapper .menu_color--item {
  position: relative;
  height: 54px;
  padding-left: 0;
  cursor: pointer;
  background-position: 16px 16px;
  line-height: 54px;
}

.color_wrapper .menu_color--item_label {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.color_wrapper .menu_color--item:hover {
  background-color: #e3ecf0;
}

.color_wrapper .menu_color--item .palette--input {
  display: none;
}

.color_wrapper .menu_color--item_text {
  margin-left: 54px;
  font-size: inherit;
}

.color_wrapper .menu_color--color {
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: black solid 1px;
  top: 15px;
  left: 20px;
}

@media only screen and (max-width: 980px) {
  .size_wrapper {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}
/*# sourceMappingURL=style.css.map */