* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header {
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  background-color: #c1e9e9;
  margin: 0 auto;
  height: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--button_menu {
  width: 18px;
  height: 12px;
  margin: 0 36px 0 20px;
  border: none;
  background: url("./assets/images/Shape_menu.svg") no-repeat;
  cursor: pointer;
}

.header--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto 0 0;
}

.header--button_option {
  width: 4px;
  height: 16px;
  margin: 0 20px 0 5px;
  border: none;
  background: url("./assets/images/Shape_option.svg") no-repeat;
  cursor: pointer;
}

.main {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1440px;
  margin: 50px auto 0 auto;
  grid-row-gap: 50px;
  -ms-grid-columns: 240px 512px 240px;
      grid-template-columns: 240px 512px 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main_div {
  -webkit-box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.25);
}

.menu_tools--btn_fill_bucket {
  background: url("./assets/images/icon-fill_bucket.svg") no-repeat;
}

.menu_tools--btn_choose_color {
  background: url("./assets/images/icon-choose_color.svg") no-repeat;
}

.menu_tools--btn_pencil {
  background: url("./assets/images/icon-pencil.svg") no-repeat;
}

.tools_wrapper {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 200px;
  height: 246px;
  margin-left: 15px;
}

.tools_wrapper .menu_tools {
  list-style: none;
}

.canvas_wrapper {
  width: 512px;
  height: 512px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.size_wrapper {
  -ms-grid-column-align: right;
      justify-self: right;
  width: 200px;
  height: 246px;
  margin-right: 15px;
}

.color_wrapper {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 200px;
  height: 246px;
  margin-left: 15px;
}

.menu_color--li {
  position: relative;
}

.menu_color--div_color {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: black solid 1px;
  position: absolute;
  top: 15px;
  left: 20px;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

.list {
  list-style: none;
}

.button {
  width: 200px;
  height: 54px;
  border: none;
  padding-left: 55px;
  cursor: pointer;
  outline: none;
  text-align: left;
  background-position: 16px 16px;
  background-color: inherit;
}

.button:hover {
  background-color: #e3ecf0;
}

.clickBtn {
  background-color: #e3ecf0;
  color: blue;
  font-size: 23px;
  border-radius: 10px;
}

#current_color_label {
  display: inline-block;
  padding: 0;
  padding-left: 50px;
  width: 150px;
  line-height: 50px;
}

#current_color_input {
  padding-left: 0;
  height: 0;
  width: 0;
  border: none;
  outline: none;
  background: wheat;
}
/*# sourceMappingURL=style.css.map */